<html>
<head>
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../css/about_ngn.css">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" type='text/css'>
</head>
<body>
    <div style="background: #333333; height: 100vh; width: 100vw;">
        <div class="container">
           <div id="heading">
                누구나 테이블
            </div>
            <div id="about1">
                <p>
                    2017년 세종대학교 건축학과 학생들의 자치적인 학술모임으로 시작된 ‘누구나 테이블’은 캠퍼스타운 사업을 기반으로 하고 있습니다. 세종대학교 건축학과 학생들의 학술자치단체입니다. 건축적 사고를 바탕으로 지역사회와 관련된 여러가지 프로젝트를 진행해왔습니다. 지역사회와 세종대학교의 상생이 저희 누구나 테이블의 최종 목표입니다. 총괄 기획 집행 홍보 웹개발 경영지원 지난 사업 소개
                </p>
            </div> 
        </div>
    </div>
</body>
</html>