<html>
<head>
    <link rel="stylesheet" href="stylesheets/mainpage.css">
    <link rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.min.css">

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="javascripts/mainpage.js"></script>
    <script src="semantic-ui/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" type='text/css'>
    <title>
        <%= title %>
      </title>
</head>
<body>
    
    <div id="head_menu" class="ui fixed menu">
        <a href="/" style="display: block; margin: 0px auto; align-content: center; align-self: center;">
            <img id="nute_logo" src="../images/nuguna_logo.png" alt="Nuguna Table logo">
        </a>
    </div>
    <div class="pusher">
        <div id="center_box">
            <div id="cb1">누구나 테이블의</div>
            <div id="cb2">
                <span>누구나</span>
                <span>골목</span>
            </div>
            <div id="cb3"></div>
            <div id="cb4">모두가 함께하는 골목을 만듭니다.</div>
        </div>
        <div id="container1_background"></div>
        <div id="container1" style="height: calc(100vh - 47.3rem)"></div>
        <div id="container2">
            <div id="cont2_top">
                <div>
                    <div>
                        <span class="title" style="padding-bottom: 35px;">일시 /</span>
                        <span class="content">2020년 6월부터</span>
                        <span class="content">2020년 11월까지</span>
                    </div>
                    <div>
                        <span class="title" style="padding-bottom: 35px;">장소 /</span>
                        <span class="content">서울 광진구 화양리</span>
                        <span class="content">인근 상가</span>
                    </div>
                </div>
                
            </div>
            <div id="cont2_bottom">
                <div class="title">이벤트 소개 /</div>
                <div class="heading"><span style="color: #FDBF35;">[</span>누구나 골목<span style="color: #FDBF35;">]</span>은 무엇?</div>

               
                <div class="ui two column very relaxed grid" >
                    
                    <div class="column2">
                      
                        <div class ="nuguna_golmok"style="padding: 240px 200px;">
                        </div>  

                    </div>
                    <div class="column">
                        <div style="padding: 41px 15px;">
                            <br>    
                            <p style="line-height: 1.6em; font-size: 2.2rem;">'누구나 골목'은 영업 전의 술집, 그 비어 있는 시간대의 공간을 인근 주민과 학생들에게 대여하는 것으로 공간을 향유하는 다양한 방식을 제안합니다. </p><br><br>
                            <p style="line-height: 1.6em; font-size: 2.2rem;"> 이 프로젝트를 통해 우리는 죽어 있던 낮시간대의 화양리를 활성화시키고 상인, 학생, 주민, 간의 새로운 커뮤니티를 만들어내는 것이 최종 목표입니다. </p>
                        </div>
                    </div>
                </div>
              
              <div class="explanation">* 본 프로젝트는 2020년 서울특별시 마을공동체 지원사업의 일환으로 광진구청의 지원으로 운영됩니다.</div>
            </div> 
        </div>
        <div id="container5">
            <div id="cont5_top">
                <div class="heading">이용 방법</div>
                <div>
                    <p style="color:#FFFFFF;text-align: center;font-weight: bold;">이용 대금 결제 방법</p><br>
                    <p style="color:#FFFFFF; text-align: center; font-size: 1.7rem;">현장에서 직접 결제 시 <br> 1시간: 1,000원 <br> 현장에서 관리자의 안내에 따라 자유롭게 이용하시고 결제해주세요.<br></p>
                    <p style="color:#FFFFFF;text-align: center;font-size: 1.7rem;">시간권으로 결제 시<br> 10시간권(+추가 2시간): 10,000원<br> 이용하고자 하는 가게의 영업시간에 방문하여 사장님께 구매 가능합니다. </p>
                </div>
                <div class="explanation" style="color:#FFFFFF;text-align: center;">*사업기간이 끝난 이후 남은 시간권은 해당 가게에서 화폐로 사용 가능하며 해당 가게에서 구매한 시간권만 사용 가능합니다.</div>
            </div>
        </div> 
        <div id="container3">
            <div id="cont3_top">
                <div class="heading"><a  style="color:black; text-decoration:none;" href="#">참여 가게</a> &nbsp;
                    <a id="store1" style=" margin-left: auto; font-size: 20px; color:black; text-align: right;text-decoration:none;" href="/gongdae">공대오빠</a> &nbsp;
                    <a id="store2" style=" margin-left: auto; font-size: 20px; color:black; text-align: right;text-decoration:none;" href="/algo">알고탭하우스</a> &nbsp;
                    <a id="store3" style=" margin-left: auto; font-size: 20px; color:black; text-align: right;text-decoration:none;" href="/likechicken">치킨처럼</a> &nbsp;
                </div>
        
                <div id="store_map"></div>

                </div>
            </div>
            <div id="cont3_bottom">
                <div class="bottom1">
                    <div class="ssnt_box">
                        <div class="ssnt">
                            <div class="ssnt_val">
                                3
                            </div>
                            <div class="ssnt_label">
                                참여 가게
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                25
                            </div>
                            <div class="ssnt_label">
                                이용 가능 좌석
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                249
                            </div>
                            <div class="ssnt_label">
                                최대 수용 인원
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                4<span style="font-size: 5rem">h</span>
                            </div>
                            <div class="ssnt_label">
                                최대 이용 시간
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom2">
                    <div class="ssnt_box">
                        <div class="ssnt">
                            <div id="ssnt_storename" class="ssnt_label" style="font-size: 3.6rem; font-weight: bold;">
                                공대오빠
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                25
                            </div>
                            <div class="ssnt_label">
                                이용 가능 좌석
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                249
                            </div>
                            <div class="ssnt_label">
                                최대 수용 인원
                            </div>
                        </div>
                        <div class="ssnt">
                            <div class="ssnt_val">
                                4<span style="font-size: 5rem">h</span>
                            </div>
                            <div class="ssnt_label">
                                최대 이용 시간
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="cont3_bottom">
                <div class="ssnt_box">
                    <div class="ssnt">
                        <div class="ssnt_val">
                            3
                        </div>
                        <div class="ssnt_label">
                            참여 가게
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            25
                        </div>
                        <div class="ssnt_label">
                            이용 가능 좌석
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            249
                        </div>
                        <div class="ssnt_label">
                            최대 수용 인원
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            4<span style="font-size: 5rem">h</span>
                        </div>
                        <div class="ssnt_label">
                            최대 이용 시간
                        </div>
                    </div>
                </div>
            </div>
            <div id="cont3_bottom2">
                <div class="store_box">
                    <div class="ssnt">
                        <div id="ssnt_storename" class="ssnt_label" style="font-size: 3.6rem; font-weight: bold;">
                            공대오빠
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            25
                        </div>
                        <div class="ssnt_label">
                            이용 가능 좌석
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            249
                        </div>
                        <div class="ssnt_label">
                            최대 수용 인원
                        </div>
                    </div>
                    <div class="ssnt">
                        <div class="ssnt_val">
                            4<span style="font-size: 5rem">h</span>
                        </div>
                        <div class="ssnt_label">
                            최대 이용 시간
                        </div>
                    </div>
                </div>
            </div>
            </div>
        -->
        </div>
        <div id="cont6_bottom">
            <div class="heading" style=" color: white;  border-bottom: 3px solid blanchedalmond;"><span style="color: #FDBF35;">[</span>누구나 테이블<span style="color: #FDBF35;">]</span>은 누구?</div>
            <div class="title" style="color: white;">‘누구나 테이블’은 세종대학교 건축학과 학생들의 학술자치단체입니다. 건축적 사고를 바탕<br><br>으로 지역사회와 관련된 여러가지 프로젝트를 진행해왔습니다. 지역사회와 세종대학교의 상생<br><br>이 저희 누구나 테이블의 최종 목표입니다. </div>
           
            <div class="ui two column very relaxed grid" >
                
                <div class="column">
                    <div style="padding: 41px 15px;">
                        <br>    
                        <p style="line-height: 1.6em; font-size: 2.2rem; color: #FDBF35;">각 부서별 팀원 </p><br>
                        <p style="line-height: 1.6em; font-size: 2.2rem; color: white;"> 총괄: 박시우 <br> 기획: 박시우, 심진민, 이혜리, 임슬린, 전희원, 홍서휘 <br> 집행: 김여경, 박예빈, 박정하, 송은찬, 심진민 <br> 홍보: 안유진, 전희원, 최재은, 홍민기<br> 운영지원: 강지수, 임슬린, 홍서휘<br> 웹개발: 복지호, 이혜리, 장문경</p>
                    </div>
                  </div>
              <div class="column">
                <div style="padding: 41px 15px;">
                    <br>    
                    <p style="line-height: 1.6em; font-size: 2.2rem; color: #FDBF35;">누구나 골목 사업 문의 </p><br>
                    <p style="line-height: 1.6em; font-size: 2.2rem; color: white;"> 인스타: nuguna_golmok <br>이메일: nugunagolmok@gmail.com </p>
                </div>
              </div>
            </div>
          
        </div>
        </div>
    </div>
</body>
</html>