<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/mainpage.css' />
    <link rel='stylesheet' href='/stylesheets/store.css' />
    <link rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.min.css">

    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="javascripts/mainpage.js"></script>
    <script src="javascripts/store.js"></script>
    <script src="semantic-ui/dist/semantic.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" type='text/css'>      
  </head>

  <body>
    <div id="head_menu" class="ui fixed menu">
        <a href="/" style="display: block; margin: 0px auto; align-content: center; align-self: center;">
            <img id="nute_logo" src="../images/nuguna_logo.png" alt="Nuguna Table logo">
        </a>
    </div>

    <div id="pusher">
        <div id="container" class="ui equal width grid stackable">
            <div id="container2" class="five wide column">
<!--                슬라이더-->
                <div class="slidershow-container">
                    <div class="mySlides fade">
                        <div id="container_img3"></div>
                    </div>
                    <div class="mySlides fade">
                        <div id="container_img4"></div>
                    </div>
<!--                     Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
            </div>
            <div id="container_content" class="eleven wide column">
              <div id="content">
                <div class="ui grid">
                <span id="title">공대오빠</span>
                <div class="row">
                    <span id="content_title">가게 상세 정보</span>
                    <span id="content_text" style="text-align:left;">공대오빠의 2층과 3층은 다른 분위기의 공간을 제공합니다. 2층은 동그란 테이블과 의자들이 배치되어 함께 둘러앉아 각종 유쾌한 활동들을 할 수 있습니다. 3층은 조용하고 어두운 분위기이며 빔 프로젝터를 이용하여 다 함께 영화를 보는 등 색다른 활동을 할 수 있습니다. 가게 내의 술이나 음료(별도 지불)도 이용 할 수 있습니다.</span>
                </div>
                <div class="row">
                    <span id="content_title">주소</span>
                    <span id="content_text" style="text-align:left;">서울 광진구 화양동 번지 2호 111-36 3층</span>
                </div>
                <div class="row">
                    <span id="content_title">영업 시간</span>
                    <span id="content_text" style="text-align:left;">17:30 ~ 03:00 (매주 일요일 휴무)</span>
                </div>
                <div class="row">
                    <span id="content_title">공간 대여 가능 시간</span>
                    <span id="content_text" style="text-align:left;">13:00 ~ 17:00</span>
                </div>
                </div>
                <div id="icon">
                    <div class="ui four column centered grid">
                        <div id="img1" class="column">
                            <p id="icon_text">와이파이 있음</p>
                        </div>
                        <div id="img2" class="column">
                            <p id="icon_text">음식물 반입 금지</p>
                        </div>
                        <div id="img3" class="column">
                            <p id="icon_text">음료 반입 가능</p>
                        </div>
                        <div id="img4" class="column">
                            <p id="icon_text">남녀공용 화장실</p>
                        </div>
                    </div>
                </div>
                <div id="btn" class="ui button">여석 확인하기</div>
              </div>
            </div>
        </div>
    </div>

    <script src="javascripts/store.js"></script>
  </body>
</html>
