*{
    font-family: 'Roboto', sans-serif;
}
html{
    width: 100%;
    height: 100%;
    font-size: 10px;
}
.container{
    width: 95.6rem;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#heading{
    color: #FDBF35;
    font-size: 4.8rem;
    line-height: 4.8rem;
    font-style: normal;
    font-weight: bold;
    /* width: 956px; */
    border-bottom: 3px solid #F2F2F2;
    padding: 3rem 0;
}
#about1{
    font-size: 24px;
    line-height: 38px;  
    color: #ffffff;
    padding: 41px 15px;
}