* {
    font-family: "Roboto", sans-serif;
  }
  body {
    overflow-x: hidden;
}
  html {
    font-size: 10px !important;
    width: 100%;
  }
  #head_menu {
    height: 12.8rem;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    transition: 0.4s;
  }
  .pusher.dimmed {
    overflow: hidden;
    height: 100%;
  }
  .ui.open.button {
    margin-top: 7.9rem;
    margin-left: 2rem;
    background: white;
  }
  #container1,
  #container2,
  #container3,
  #container4,
  #container5{
    width: 100%;
    height: fit-content;
  }
  #container1_background {
    width: 100%;
    height: 100%;
    position: fixed;
    /* height: 896px; */
    top: 0;
    background-image: url("../images/화양리1.png");
    /* background-size: 100vw 100vh; */
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    z-index: -1;
  }
  #center_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: 50.1rem;
    height: 47.3rem;
    /* top: 339px; */
    top: 30vh;
    background-color: rgba(
      253,
      191,
      53,
      0.7
    ); /* #FDBF35색 투명도 0.7을 RGB값으로 표현한 것 */
    font-style: normal;
    text-align: center;
    color: #333333;
  }
  #cb1 {
    font-size: 2.4rem;
    line-height: 3.7rem;
    position: relative;
    top: 4.1rem;
  }
  #cb2 {
    font-weight: bold;
    font-size: 9.6rem;
    line-height: 11.2rem;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6.7rem; /* 104-37=67 */
    height: 23rem;
  }
  #cb3 {
    width: 30%;
    height: 0px;
    border-top: 3px solid #333333;
    position: absolute;
    top: 36rem;
  }
  #cb4 {
    font-style: normal;
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3.7rem;
    position: relative;
    top: 12.7rem; /* 394-(37+230)=127 */
    width: 100%;
  }
  #container2 {
    /* position: relative;
      top: 1024px;
      width: 100%; */
    background: white;
    font-size: 2.4rem;
  }
  #cont2_top {
    min-height: 35rem;
    background: white;
  }
  #cont2_top div {
    height: 100%;
    max-width: 1024px;
    display: flex;
    margin: 0 auto;
  }
  #cont2_top div div {
    /* padding: 89px 0 0 185px;  */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45rem;
  }
  #cont2_bottom {
    min-height: 70rem;
    height: fit-content;
    /* padding: 7.3rem 23rem; */
    background: #e0e0e0;
  }
  #cont2_bottom div {
    max-width: 956px;
    margin: 0 auto;
  }
  #container4 {
    min-height: 70rem;
    /* padding: 7.3rem 23rem; */
    background: #333333;
    position: relative;
    z-index: 1;
  }
  #container4 .heading {
    padding: 8rem 0 4rem 0;
  }
  #container4 div {
    max-width: 956px;
    margin: 0 auto;
  }
  .title {
    font-size: 2.2rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: 70px 0;
  }
  .explanation {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    padding: 10px;
  }
  .heading {
    font-size: 4.8rem;
    font-weight: bold;
    color: #333333;
    line-height: 4.8rem;
    border-bottom: 3px solid #333333;
    padding: 4rem 0 2rem 0;
  }
  
  #select-store {
    width: 40px;
    height: 40px;
    position: relative;
    top: 45%;
    left: 60%;
  }
  #store_map {
    width: 100%;
    height: 50vh;
    max-height: 500px;
    background-image: url("../images/store_map3.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  #cont2_bottom div .title {
    text-align: center;
    line-height: 1em;
    padding-top: 7.3rem;
    padding-bottom: 14.3rem;
  }
  #container4 div .title {
    text-align: center;
    line-height: 1em;
    padding-top: 7.3rem;
    padding-bottom: 14.3rem;
    position: relative;
    z-index: 1;
  }
  .cont4_body {
    /* width: 920px; */
    font-size: 2.0rem;
    line-height: 3.8rem;
    padding: 40px;
  }
  .content {
    font-size: 2em;
    font-style: normal;
    /* font-weight: 300; */
    line-height: 56px;
  }
  #cont3_top {
    background: white;
    height: fit-content;
  }
  #cont3_top .heading {
    width: 95.6rem;
    margin: 0 auto;
    /* padding: 4rem 0 2rem 0; */
  }
  #store1, #store2 {
    margin-left: auto; 
    font-size: 2rem; 
    color:black; 
    text-align: right;
    text-decoration:none;
  }
  #msg {
    font-size: 1.8rem; 
    color: #828282; 
    font-style: italic; 
    font-weight: normal; 
    float: right; 
    position: relative;
    top: 3rem;
  }
  #cont3_bottom {
    background: #fdbf35;
    height: 28.2rem;
    /* padding: 80px 230px 44px 230px; */
    /* padding: 50px 200px; */
  }
  .ssnt_box {
    display: flex;
    justify-content: space-evenly;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
  }
  #cont3_bottom2, .bottom2 {
    background: #000000;
    height: 28.2rem;
    position: relative;
  }
  .store_box{
    display: flex;
    justify-content: space-evenly;
    max-width: 980px;
    height: 100%;
    margin: 0 auto;
  }
  #cont3_bottom2 .store_box .ssnt, .bottom2 .ssnt{
    color: #f2f2f2;
  }
  .ssnt {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 20rem;
    height: 100%;
    color: #333333;
    text-align: center;
  }
  .ssnt_val {
    font-size: 10rem;
    line-height: 10rem;
  }
  .ssnt_label {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
  #cont4_top {
    height: 72rem;
    background: #333333;
  }
  #cont4_top div:nth-child(1) {
    line-height: 4.8rem;
    font-size: 4.8rem;
    font-weight: bold;
    color: #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    padding-top: 10rem;
    padding-bottom: 3.5rem;
    width: 956px;
    margin: 0 auto;
  }
  #cont4_top div:nth-child(2) {
    font-size: 2.4rem;
    width: 956px;
    margin: 0 auto;
    padding: 5vh 1vw;
  }
  #cont4_top > div > p {
    line-height: 3.8rem;
  }
  #cont4_bottom {
    height: 30.4rem;
    background: white;
  }
  #container5 {
    height: 90vh;
    background-color: rgba(0,0,0, 0.7); 
  }
  #container5 .heading {
    /* color: #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
    padding-top: 10rem; */
    width: 100% !important;
    height: 12.8rem;
    margin: 0;

    background: white;
    color: #333333;
  }
  #container5>.heading>p {
    width: 100%;
    max-width: 956px;
    /* line-height: 4.8rem; */
    font-size: 4.8rem;
    font-weight: bold;
    margin: 0 auto;
  }
  #container5 > div > p {
    line-height: 3.8rem;
    font-size: 1.7rem;
  }
  .cont5_body {
    height: calc(90vh - 12.8rem);
    color:#FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #about_ngn {
    position: absolute;
    right: 10vw;
  }
  #about_ngn > a {
    font-size: 2.4rem;
    font-weight: normal;
    line-height: 3rem;
  }
  .nuguna_illustration {
    background-image: url("../images/mainpage_nuguna.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 400px;
    height: 450px;
  }
  .who_is_nuguna > p{
    line-height: 3.8rem; 
    font-size: 2.2rem;
  }
  
  /* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px) */
  @media all and (min-width: 768px) and (max-width: 1023px) {
    html {
      /* font-size: 9px !important; */
      width: 100%;
    }
    .heading, #container5>.heading>p {
      width: 85vw !important;
    }
    #container4 div div:nth-child(4), .cont4_body
    #cont2_bottom div div:nth-child(3) {
      width: 85vw !important;
    }
    #select-store {
      width: 85vw !important;
    }
    #cont5_top div:nth-child(1),
    #cont5_top div:nth-child(2) {
      width: 85vw !important;
    }
  }

  @media all and (max-width: 891px) {
    .who_is_nuguna {
      padding: 0 !important;
    }
    .explanation {
      padding: 10px;
    }
    #cont2_bottom > .ui.column > .column {
      width: 100%;
    }
  }
  
  /* 모바일 가로, 세로 (해상도 480px ~ 767px) */
  @media all and (max-width: 767px) {
    html {
      font-size: 6px !important;
    }
    #nute_logo {
      width: 180px;
    }
    .nuguna_illustration {
      background-size: contain;
      width: 90vw;
    }
    #container1_background {
      /* background-size: auto; */
    }
    .title {
      padding: 20px 0;
    }
    .heading {
      padding: 3rem;
      width: 85vw !important;
      font-size: 4rem;
    }
    #center_box {
      /* width: 300px; */
      width: 80vw;
      height: 300px;
    }
    .content {
      font-size: 18px;
      font-weight: 500;
      padding: 0 10px;
      line-height: 30px;
    }
    #cont2_top {
      min-height: unset;
    }
    #cont2_top div div {
      padding-bottom: 20px;
    }
    #select-store {
      width: 85vw !important;
    }
    #msg {
      padding-top: 1em;
    }
    #cont3_bottom {
      height: 20rem;
    }
    .ssnt_val {
      font-size: 6rem;
    }
    .ssnt_label {
      font-size: 2rem;
    }
    .cont5_body {
      padding: 0 10px;
    }
  }
  