.seats_class{
    position: absolute;

    background-color: #828282;
    /* border:1px solid #828282; */
    width: 35px; 
    height: 35px;
    border-radius: 100%;
    text-align: center;
    margin: 0 auto;
    /* font-size:12px; color:#fff; */
    vertical-align: middle;
    line-height: 35px;
}
#seat1{
    top: 812px;
    left: 162px;
}
#seat2{
    top: 812px;
    left: 279px;
}
#seat3{
    top: 693px;
    left: 162px;
}
#seat4{
    top: 693px;
    left: 279px;
}
#seat5{
    top: 556px;
    left: 162px;
}
#seat6{
    top: 556px;
    left: 279px;
}
#seat7{
    top: 421px;
    left: 162px;
}
#seat8{
    top: 421px;
    left: 279px;
}
#seat9{
    top: 292px;
    left: 162px;
}
#seat10{
    top: 292px;
    left: 279px;
}
#seat11{
    top: 825px;
    left: 508px;
}
#seat12{
    top: 708px;
    left: 508px;
}
#seat13{
    top: 825px;
    left: 559px;
}
#seat14{
    top: 708px;
    left: 559px;
}
#seat15{
    top: 588px;
    left: 508px;
}
#seat16{
    top: 470px;
    left: 508px;
}
#seat17{
    top: 588px;
    left: 559px;
}
#seat18{
    top: 470px;
    left: 559px;
}
#seat19{
    top: 367px;
    left: 508px;
}
#seat20{
    top: 249px;
    left: 508px;
}
#seat21{
    top: 367px;
    left: 559px;
}
#seat22{
    top: 249px;
    left: 559px;
}
#seat23{
    top: 193px;
    left: 246px;
}
#seat24{
    top: 193px;
    left: 345px;
}