*{
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 10px !important;
    width: 100%;
}
body {
    overflow-x: scroll;
}
#head_menu {
    height: 12.8rem;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    transition: 0.4s;
  }
.cont{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    background: #333333;
}
.cont h1 {
    font-size: 24px; 
    color: #ffffff; 
    text-align: center; 
    font-weight: normal;
    padding: 50px 0 20px;
}
.ui.segment{
    /* width: 796px; */
    width: 90vw;
    height: 50vh;
    max-width: 796px;
    max-height: 480px;
    min-height: 280px;
    margin: 0 auto !important;
    border-radius: 10px !important;
    overflow: scroll;
}
.ui.dropdown{
    width: 315px;
    height: 60px;
    padding: 10px 15px 10px 30px !important;
    background: #FFFEFE !important;
    border-radius: 3px !important;
    text-align: center !important;
    display: flex !important;
    justify-content: space-between;
}
.ui.selection.dropdown .menu {
    max-height: fit-content !important;
}
.dd_item{
    font-weight: normal !important;
    font-style: normal !important;
    font-size: 18px !important;
    height: 50px !important;
    padding-left: 30px !important;
}
.store_button{
    width: 120px;
    height: 60px;
    background: #FDBF35 !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    margin-left: 24px !important;
}
#selected_store{
    font-size: 18px;
    line-height: 40px;
    color: black;
    /* color: #828282; */
}

  /* 모바일 가로, 세로 (해상도 480px ~ 767px) */
  @media all and (max-width: 767px) {
    html {
      font-size: 7px !important;
    }
    body {
        overflow-x: hidden !important;
    }
    .ui.selection.dropdown .menu {
        max-height: fit-content !important;
    }
  }
